interactions:
- request:
    body: null
    headers:
      x-api-key:
      - DUMMY_API_KEY
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.8.8","license_expiration_time":null,"batch_ingest_config":{"use_multipart_endpoint":true,"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-key:
      - DUMMY_API_KEY
    method: GET
    uri: https://api.smith.langchain.com/commits/ih/ih-react-agent-executor/latest
  response:
    body:
      string: '{"commit_hash":"2a7f3083c7d6d9e656c8bb77567347c248f45c109c38f9104a1167f7cf113b87","manifest":{"id":["langchain","prompts","chat","ChatPromptTemplate"],"lc":1,"type":"constructor","kwargs":{"messages":[{"id":["langchain","prompts","chat","SystemMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"You
        are a helpful assistant.","input_variables":[],"template_format":"f-string"}}}},{"id":["langchain_core","prompts","chat","MessagesPlaceholder"],"lc":1,"type":"constructor","kwargs":{"variable_name":"messages"}}],"input_variables":["messages"]}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
